# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [20]:
id1 = "207651738"
import pandas as pd

In [21]:
df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [22]:
df = pd.DataFrame([id1])

In [23]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

Roni basson

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [24]:
import pandas as pd
import numpy as np
my_data = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv')

In [25]:
my_data['date']= pd.to_datetime(my_data['date'])
data = my_data['date'].dt.month_name() =='July'
month_data = my_data[data].copy() 
len(month_data)
print('At July', len(month_data) ,'have been vaccinated.')

At July 6770 have been vaccinated.

 # Q2

In [26]:
month_data[['daily_vaccinations']].isnull().sum()
month_data['daily_vaccinations'] = my_data.groupby('location')[['daily_vaccinations']].apply(lambda ln: ln.fillna(method = 'ffill'))
month_data['people_vaccinated_per_hundred'] = my_data.groupby('location')[['people_vaccinated_per_hundred']].apply(lambda ln: ln.fillna(method = 'ffill'))
month_data

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
129,Afghanistan,AFG,2021-07-01,NaN,NaN,NaN,NaN,NaN,14115.0,NaN,1.80,NaN,NaN,363.0
130,Afghanistan,AFG,2021-07-02,NaN,NaN,NaN,NaN,NaN,12944.0,NaN,1.80,NaN,NaN,333.0
131,Afghanistan,AFG,2021-07-03,NaN,NaN,NaN,NaN,NaN,11773.0,NaN,1.80,NaN,NaN,302.0
132,Afghanistan,AFG,2021-07-04,NaN,NaN,NaN,NaN,NaN,10602.0,NaN,1.80,NaN,NaN,272.0
133,Afghanistan,AFG,2021-07-05,915671.0,726349.0,189322.0,NaN,NaN,8989.0,2.35,1.87,0.49,NaN,231.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40313,Zimbabwe,ZWE,2021-07-27,2275145.0,1561994.0,713151.0,NaN,96727.0,54014.0,15.31,10.51,4.80,NaN,3634.0
40314,Zimbabwe,ZWE,2021-07-28,2323763.0,1593365.0,730398.0,NaN,48618.0,53512.0,15.63,10.72,4.91,NaN,3600.0
40315,Zimbabwe,ZWE,2021-07-29,2375090.0,1623583.0,751507.0,NaN,51327.0,51183.0,15.98,10.92,5.06,NaN,3444.0
40316,Zimbabwe,ZWE,2021-07-30,2413238.0,1645308.0,767930.0,NaN,38148.0,48781.0,16.24,11.07,5.17,NaN,3282.0
40317,Zimbabwe,ZWE,2021-07-31,2433070.0,1653821.0,779249.0,NaN,19832.0,45242.0,16.37,11.13,5.24,NaN,3044.0

 בחרתי להשתמש בפונקציה זו כדי למלא כל ערך חסר בערך שהיה אחד לפניו מתוך ההנחה כי רוצים לחסן כמה שיותר והערכים החסרים נבעו מחוסר עדכון של המערכת, או בעיות תקשורות כאלה ואחרות, ולא כי לא חיסנו כלל באותם התאריכים. בנוסף כאשר יש מעבר בין מדינות הגדרתי שלא לקחת את הערך שלפניו כי אחרת אין בכך מן ההגיון לקחת את הכמות של מדינה אחרת.

# Q3

In [27]:
month_data = month_data[~month_data['location'].isin(['Asia','Uppr middel income', 'Usa', 'Africa''Asia','Uppr middel income', 'Usa','World','europe','High income','Upper middle income','North America'
])]
JulyData = month_data.daily_vaccinations.max()
month_data [['location','date']].loc[month_data.daily_vaccinations == JulyData ]

     location       date
7410    China 2021-07-01

# Q4

In [28]:
mean_data = month_data['daily_vaccinations'].mean()
mean_data

248235.5474750529

In [29]:
median_data = month_data['daily_vaccinations'].median()
median_data

8874.5

הממוצע גבוה יותר מהחציון משום שבחודש יולי כמות המתחסנים עלתה, בחודש זה חוקק החוק שכל האנשים אשר חלו בקורונה צריכים להתחסן במנה השניה על מנת להעלות את רמת הנוגדנים ולכן הממוצע גדול יותר כי הוא בנוי מכמות המתחסנים והחציון בנוי מהאמצע של כמות המתחסנים

# Q5

In [30]:
israel_data = month_data[month_data['location'].str.contains('Israel')]
israel_data = israel_data.copy() 
month_data['day'] = pd.DatetimeIndex(month_data['date']).day
israel_datal = month_data[month_data['day']<=7]
israel_data = israel_data['people_vaccinated_per_hundred'].mean()
israel_data

<ipython-input-30-4ae1e226c881>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  month_data['day'] = pd.DatetimeIndex(month_data['date']).day

66.19580645161291

# Q6

In [31]:
max_vacc= month_data.groupby(['location'])['people_vaccinated_per_hundred'].mean()
max_vacc = max_vacc.copy()
max_vacc = max_vacc.sort_values(ascending=False)
max_vacc = max_vacc.iloc[:3]
max_vacc

location
Gibraltar    116.637097
Pitcairn     100.000000
Malta         86.166774
Name: people_vaccinated_per_hundred, dtype: float64

# Q7

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line